@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <p class="col-md-6">
        <strong>VideGo</strong> provides an easy solution to managing and updating customer data, current and past rentals as well as movie stock.
        Its an application meant for business use and thus security is a top priority. A user must be signed in to use any functionality.
        Its quite easy to create a new user account, for instance if you bring on a new employee. Only an admin user account can make certain changes
        like adding a new movie and updating stock, to minimize serious employee errors. Give it a try!
    </p>
</div>