@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>VideGo</h1>
    <p class="lead">VideGo is a great application for managing and updating a movie rental bussiness' current customers, rentals and movie stock. Give it a try!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p>
            Renting a movie should be as quick and easy as possbile. With VideGo, record all rentals quickly and efficiently and your customer are back on the go. 
        </p>
        <p><a class="btn btn-default" href="/Rental/New">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Maintain accurate stock information at all times. When new movies are made available, it's simple to add them to your inventory.</p>
        <p><a class="btn btn-default" href="/Movies">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Securely manage your customers information to provide the best customer service.</p>
        <p><a class="btn btn-default" href="/Customers">Learn more &raquo;</a></p>
    </div>
</div>