@model VideGo.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })

@if (Model.Movies.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{


    <table class="table">
        <thead>
            <tr>
                <th><h2>Movies</h2></th>
                <th>Genres</th>
            </tr>
        </thead>

        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(movie.Title, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }

    </table>
}
